#calculadora {
    width: 300px;
    margin: 50px auto;
    display: grid;
    grid-template-rows: auto 1fr ;
    gap: 10px;
  }
  
  input {
    grid-row: 1;
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #panel_botones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columnas iguales */
    gap: 5px;
  }
  
  button {
    width: 100%;
    height: 50px;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }